[mysqld]
# Basic Settings
pid-file        = /var/lib/mysql/mysql.pid
socket          = /var/lib/mysql/mysql.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# Custom config to address warnings
host_cache_size = 0
# default_authentication_plugin决定了新创建的用户账户默认使用哪种密码加密方式。
# 在MySQL 8.0之前，默认使用的是mysql_native_password。
# MySQL 8.0引入了一个新的、更安全的密码加密方式，叫做caching_sha2_password，并将其设为默认值。
# 然而，一些旧的客户端程序可能不支持这种新的加密方式，导致连接问题。
# 通过设置mysql_native_password，我们让MySQL回退到使用旧的加密方式，以确保与更广泛的客户端兼容。
default_authentication_plugin = mysql_native_password

# Disable self-signed certificates warning (for development only)
# Remove this line for production use
ssl-ca=

# Character set and collation
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

# InnoDB Settings
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 2

# Connection Settings
max_connections = 151

# Logging
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# Other Settings
tmp_table_size = 32M
max_heap_table_size = 32M